/* ==========================================================================
   Author's custom styles
   ========================================================================== */

Enable these styles if you wish to go into a grid layout.
ul#images li {
    max-width: 500px;
    height: auto;
    display: inline-block;
    margin-right: 0;

}

li{
  max-width: 650px;
  margin:auto;
}


ul#images li img {
    display: inline-block;
    width: 50%;
    height: auto;
    margin: auto;
}

ul#images li button {
    display: inline-block;
}

--- End of grid layout styles.

ul#images {
    list-style-type: none;
}
ul p:first-of-type{
  font-size: 20px;
  padding-top: 1.5rem;
  padding-bottom: 0px;
  margin-bottom: 7px;
  font-weight: 300;
}
p{
  font-weight: 300;
}
footer{
  position:fixed;
  bottom:0;
}

/*
ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}
*/
